# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout
*.xcuserstate
*.xccheckout
*.pbxuser
*.lock
.DS_Store
.Trashes
*.swp
build/

*.pbxuser
*.perspective
*.perspectivev3

DerivedData/

